<div class="panel spaceCard">
    <div class="panel-heading spaceCard-header">{{ParkingSpace.address}}</div>
    <div class="panel-body">

        <img class="spaceCard_img" src="https://maps.googleapis.com/maps/api/streetview?parameters&size=200x150&fov=50&location={{ParkingSpace.address}}&key=AIzaSyAhgUQXNuEKFFe63FaEUB8KY1la5q44rdk" alt="Parking Space at {{address}}">

        {{!-- <button class="spaceCard_reserveBtn">Reserve</button> --}}

        <div>
            <span class="spaceCard_tag">{{ParkingSpace.spaceCover}}</span>
            <span class="spaceCard_tag">{{ParkingSpace.spaceSize}}</span>
            <span class="spaceCard_tag">${{ParkingSpace.price}}</span>
        </div>
    </div>
    
</div>