<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Example</h5>

            <p>
                <strong>Address:</strong> {{addressLineOne}} {{addressLineTwo}}, {{city}}, {{region}} {{postalCode}}</p>
            <p>
            <p>
                <strong>Type:</strong> {{type}}
            </p>
            <p>
            <p>
                <strong>Size:</strong> {{size}}
            </p>
            <p>
                <strong>Description:</strong> {{description}}
            </p>
            <p>
                Driver can reach at the following contact information:
            </p>
            <p>
                Name: {{ownerName}}
            </p>
            <p>
                Phone: {{ownerPhone}}
            </p>
            <p>
                Email: {{ownerEmail}}
            </p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
