    
<link rel="stylesheet" type="text/css" media="screen" href="/styles/application.css" />

<!-- Date and Time picker -->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

{{!-- <link href="/styles/dateTimePickerStyle.css" rel="stylesheet">
<link href="/styles/materialize.css" rel="stylesheet"> --}}

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{{!-- <!--- Google API JAVASCRIP CODE---> --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcHE7ZaBAeXI9teNooIxDRRcj4pjZprUw"></script>

<form id="regForm">
    <h4>Summary</h4>
    <!-- One "tab" for each step in the form: -->
    <!-- FIRST TAB -->
    <div class="tab">
        <p>
            <strong>Address:</strong> {{address}}, {{city}}, {{state}} {{postalCode}}</p>
        <p>
        <p>
            <strong>Price:</strong> {{price}}
        </p>
        <p>
            <strong>Type:</strong> {{spaceCover}}
        </p>
        <p>
            <strong>Size:</strong> {{spaceSize}}
        </p>
        <p>
            <strong>Description:</strong> {{description}}
        </p>
        <p>
            Driver can reach at the following contact information:
        </p>
        <p>
            Name: {{ownerName}}
        </p>
        <p>
            Phone: {{ownerPhone}}
        </p>
        <p>
            Email: {{ownerEmail}}
        </p>
        
    </div>

    <button><a href="/">← Back To Home</a></button>

</form>

{{!-- GoogleMap JS code --}}
<script src="/js/MapJS.js"></script>

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=" crossorigin="anonymous"></script> 

<!-- JavaScript/jQuery -->
<script src="/js/application.js"></script>
{{!-- <script src="/js/materialize.js"></script> --}}
<script src="/js/daysCalculation.js"></script>

