<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/googleStyles.css">
<link rel="stylesheet" type="text/css" media="screen" href="/styles/application.css" />

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{{> navBar}}

<form id="regForm" class="regForm" style="text-align: center">
    <h4>Your Parking Spot Is Available For Reservation.</h4>

    <!-- One "tab" for each step in the form: -->
    <!-- FIRST TAB -->
    <div class="tab">
        <p>
            <span id="stats">Address:</span> {{address}}
        </p>
        <p>
            <span id="stats">Price:</span> ${{price}}
        </p>
        <p>
            <span id="stats">Type:</span> {{spaceCover}}
        </p>
        <p>
            <span id="stats">Size:</span> {{spaceSize}}
        </p>
        <p>
            <span id="stats">Description:</span> {{description}}
        </p>

    </div>

</form>

{{!-- GoogleMap JS code --}}
<script src="/js/mapJS.js"></script>

<!-- Moment.js -->
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=" crossorigin="anonymous"></script>  --}}

<!-- JavaScript/jQuery -->
<script src="/js/application.js"></script>
{{!-- <script src="/js/materialize.js"></script> --}}
{{!-- <script src="/js/daysCalculation.js"></script> --}}

